* {
    margin: 1rem;
    padding: 0;
}

body {
    background-color: black;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav>input {
    background-color: black;
    color: white;
    padding: 1rem;
    border: 1px solid white;
    width: 55rem;
}

.nav>button {
    background-color: black;
    color: white;
    padding: 1rem 2rem;
    border: 1px solid white;
}
#table {
    color: white;
    border-collapse: collapse;

    width: 100%;
}

tr {
    border-bottom: 1pt solid white;
}

.logo {
    max-width: 5rem;
}
.logoField{
    display: flex;
    align-items: center;
}
.percentage{
    color:green;
}